	<link type="text/css" rel="stylesheet" href="/Public/css/backtotop.css" />
	<script src="/Public/js/min/jquery-v1.10.2.min.js" type="text/javascript"></script>
	<script src="/Public/js/min/modernizr-custom-v2.7.1.min.js" type="text/javascript"></script>
	<script src="/Public/js/min/jquery-finger-v0.1.0.min.js" type="text/javascript"></script>
	<!--Include flickerplate-->
	<link href="/Public/css/flickerplate.css"  type="text/css" rel="stylesheet">
	<script src="/Public/js/min/flickerplate.min.js" type="text/javascript"></script>
	<!--Execute flickerplate-->
	<script>
		$(document).ready(function(){
			
			$('.flicker-example').flicker();
		});
	</script>